<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }

    div {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
    }

    div a {
      padding-left: 0.5em;
    }
  </style>

</head>
<body>
<ul>
    {{#each users as |user|}}
    <li>
        <img src="/profilepics/{{user.username}}.bmp" alt="">
        <a href="/{{user.username}}">{{user.name.full}}</a>
    </li>
      <div></div>
    {{/each}}
</ul>
</body>
</html>
